
/* --------------------------------------------the rules below will apply when the width is big tablet to 1200pxpx wide (big Ipad to small computers- smaller than the 1140px row)
------------------------------------------*/

@media only screen and (max-width: 1200px) {
    .hero-text-box { 
        width: 100%;
        padding: 0 2%;
    }

/* --------------------------------------------the rules below will apply when the width is 768 to 1023px wide ( small tablet to big tablet)
------------------------------------------*/

@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    .box-4 {margin: 5%; 
    transform: translateX(30%) translateY(15%);}
    footer p {padding: 3% 10%}
    footer{height: 300px}
    #button1{transform: translateX(70px)}
    }
/* --------------------------------------------the rules below will apply when the width is 481px to 767px wide (bigger iphones but smaller than ipad)
------------------------------------------*/

@media only screen and (max-width: 767px) {
    body { font-size: 16px;
    width:100%}
    .box-4{transform: translateX(60px) translateY(60px);}

    h1{font-size: 100px;}
    #button2{transform: translateX(380px)}
     }
     @media only screen and (min-width: 600px) {
        h1{
            padding-left: 80px;
            padding-top: 150px;
        }
        .box-4 p{
            text-align: center;
            width:90%;
            padding:5px;
            margin:5px;
            height: 500px;
        }
        .box-4{
            height: 350px;
            transform: translateX(-5px) translateY(100px);
        }
        footer{height: 300px}
        #button1{transform: translateX(30px)}
        #button2{transform: translateX(320px)}
    }

    @media only screen and (max-width: 375px) {
        
        .main-nav{
            float: left;
        }
        h1{
            padding-top:40px;
        }
        #new-hobbies-1{
            width:100%;
        }
        .box-1{
            width:200px;
            height: 400px;
            overflow: scroll;
            
        }
        #new-hobbies-2{
            width:100%;
        }
        .box-2{
            width:200px;
            height: 400px;
            padding: 0;
            margin-top:20px;
            overflow: scroll;

        }
        #new-hobbies-3{
            width:100%;
        }
        .box-3{
            width:200px;
            height: 400px;
            overflow: scroll;
            
        }
        .art-photo {
            height:123px;
        }
        #my-family{
            height: 800px;
            overflow: hidden;
        }
        .box-4{
            width: 200px;
            overflow: scroll;
        }
        #button2 {
            visibility: hidden;
        }
    }