
/* --------------------------------------------the rules below will apply when the width is big tablet to 1200pxpx wide (big Ipad to small computers- smaller than the 1140px row)
------------------------------------------*/

@media only screen and (max-width: 1200px) {
    .hero-text-box { 
        width: 100%;
        padding: 0 2%;
    }
    .row {padding: 0 2%; }
    .container .me{padding: 30px 30% 0 30%;}}





/* --------------------------------------------the rules below will apply when the width is 768 to 1023px wide ( small tablet to big tablet)
------------------------------------------*/

@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    section {padding: 60px 0;}

    .container .me {padding: 30px 20% 0 20%};
    /* fitting */
    #hobbies{ padding: 10px;}
    .container h4 {padding-top: 0px;}
    /* hobbies placing */
    .hobbies-left{padding-left: 10%}
    #hobbies-right{padding-left: 10%;}
    #hobbies-end{padding-top:20%;}
    .span-1-of-5 img{width: 100%; height: auto;}
    /*buttons*/
    #f-p{font-size:20px;}
    form {transform: translateX(340px);}
    }

    @media only screen and (min-width: 992px) {

    }


/* --------------------------------------------the rules below will apply when the width is 481px to 767px wide (bigger iphones but smaller than ipad)
------------------------------------------*/

@media only screen and (max-width: 767px) {
    body { font-size: 16px;}
    section {padding: 30px 0}

    h1{font-size: 100px;}
    .container .me {padding: 30px 10% 0 10%};
    #hobbies-container{padding: 0 20px;}
    .row {padding:3%;}
    .hobbies-left{padding-left: 80px; width: 50%; height:auto;}
    #hobbies-right{padding-left: 70px; width: 50%; height:auto;}
    #hobbies-end{padding-top:30px;}
    
    #my-family .row {padding: 0 0 0 18%;}
    footer{height: auto;}
    #f-p{font-size:20px; padding: 10px 15%;}
    form {transform: translateX(140px);}
     }
     @media only screen and (min-width: 600px) {

     }
/* --------------------------------------------the rules below will apply when the width is 0 to 480px wide (old iphones)
------------------------------------------*/
@media only screen and (max-width: 480px) {
    header{width: auto;}
    .container{width:fill;}

}