/* ---------------- general styles -----------------*/
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin: 0;
}
body {
    height: 4700px;
}
.container{
    padding: 30px 30% 0 30%; 
}
p {
    line-height: 25px;
}
/* ----------------- top section -------------------*/
header{
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 730px;
    position: sticky;
    animation-name: header-change;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes header-change {
    0%   {background-color: black;}
    25%  {background-color: rgb(49, 49, 49);}
    50%  {background-color: rgb(104, 104, 104);}
    75% {background-color: rgb(31, 31, 31);}
    100% {background-color: black;}
  }

h1{
    margin: 0px;
    padding: 40px;
    font-size: 170px;
    font-family: 'Playfair Display', serif;
    transform: translateY(20%);
    
}
.nav-link,
li {
    display: inline-block;
    float: right;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    transition: 1s;
    padding-bottom: 3px;
}
.nav-link:hover{
    text-decoration-line: line-through;

}

/* ------------------about me section------------------ */
article{
    padding: 5% 0;
}
article p{
    text-align: center;
    line-height: 25px;
    padding-bottom: 130px;
}
#img-me{
    display: block;
    border-radius: 50%;
    padding: 30px 0;
    margin: auto;
    width: 45%;
    height: auto;
}
.img-me:hover,
.hobbies-left:hover ,
#hobbies-right:hover {
    opacity: 0.7;
}

/* ------------------ NEW hobbies section ----------------*/
#new-hobbies-1 {
    height: 650px;
    background-image: url("/images/lauren-kay-322313-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#new-hobbies-1 h5{
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 0 0 30px;
}

.box-1 p{
    text-align: left;
    color: #fff;
    padding: 30px;
}
.box-1{
    margin: 100px 100px 0 0;
    background-color: #000;;
    opacity: 0.7;
    width: 450px;
    height: 250px;
    float: right;
}


/* ------------------ NEW hobbies 2 section ----------------*/
#new-hobbies-2 {
    height: 650px;
    background-image: url("/images/filip-mroz-531492-unsplash.jpg");
    background-attachment: fixed;
}
#new-hobbies-2 h5{
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 0 0 30px;
}

.box-2 p{
    text-align: left;
    color: #fff;
    padding: 30px;
}
.box-2{
    margin: 100px 0 0 100px;
    background-color: #000;;
    opacity: 0.5;
    width: 450px;
    height: 300px;
    float: left;
}

/* ------------------ NEW hobbies section ----------------*/
#new-hobbies-3 {
    height: 650px;
    background-image: url("/images/danny-howe-762860-unsplash.jpg");
    background-attachment: fixed;
}
#new-hobbies-3 h5{
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 0 0 30px;
}

.box-3 p{
    text-align: left;
    color: #fff;
    padding: 30px;
}
.box-3{
    margin: 100px 100px 0 0;
    background-color: #000;
    opacity: 0.7;
    width: 450px;
    height: 250px;
    float: right;
}
/* ------ Family ------------- */
#my-family {
    height: 650px;
    background-image: url("/images/bryce-evans-202182-unsplash.jpg");
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
    transform: translateY(-18%);
}
#my-family h5{
    color:#000;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 0 0 30px;
}

.box-4 p{
    text-align: left;
    color: #000;
    padding: 30px;
}
.box-4  {
    margin: 100px 100px 0 0;
    background-color: #fff;;
    opacity: 0.5;
    width: 600px;
    height: 450px;
    transform: translateX(70%) translateY(20%)
}
/* ----------pictures section ----- */
ul,
li {
    padding: 0;
    margin: 0 
}
figure {
    height: 250px;
}
.art-section {
    padding: 0;
}
.picture-showcase {
    list-style: none;
    width: 100%;
}
.picture-showcase li {
    display: block;
    float: left;
    width: 25%;

}
.art-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}

.art-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
            transform: scale(1.15);
    transition: opacity 0.5s; 
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.art-photo img:hover {
    transform: scale(1.0);
    opacity: 1;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------ footer section ------------------- */
footer {
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 210px;
    position: sticky;
    animation-name: header-change;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transform: translateY(-60%);
}
footer p {
    padding-top: 30px;
    text-align: center;
}
form { 
    padding: 20px;
    display: inline-block;
}

button {
    background-color: rgb(43, 43, 43);
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(43, 43, 43);
    transition-duration: 0.4s;
    padding: 15px;
}
#button1{
    transform: translateX(250%)
}
#button2{
    transform: translateX(450%)
}
button:hover{
    text-decoration: none;
    background-color: rgb(161, 161, 161);
    color: #000;
    border-color: transparent;
}

a {
    color: #fff;
    text-decoration: none;
}
#copy{
    text-align: center;
    font-size: 10px;
}